
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
}

.pagination {
  li {
      a {
          width: 40px;
          height: 40px;
          border: 1px solid #ddd;
          display: grid;
          place-items: center;
          color: #000;
          text-decoration: none;
          transition: all .3s;
          margin: 4px;
          border-radius: 100%;

          &:hover {
              background-color: #000;
              border-color: #000;
              color: #fff;
          }
      }

      &.active {
          >a {
              background-color: var(--bs-blue);
              border-color: var(--bs-blue);
              color: #fff;
          }
      }
  }
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}